<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <link rel="stylesheet" href="/static/style/global.css" />
    <!--     <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/normalize.min.css">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<!-- <div hx-ext="sse" sse-connect="/events" hx-trigger="sse:open"></div> -->
<div id="root"></div>
<script>
    <!---->
// < !--let root=document.getElementById("root"); -->
    // < !--let events=new EventSource("/events"); -->
        // < !--events.onmessage=(event)=> {
            // -->
            // < !-- // let data=document.createElement("p"); -->
                // < !-- // let time=new Date().toLocaleTimeString(); -->
                    // < !-- // data.innerText=time + ": " + event.data; -->
                        // < !-- // root.appendChild(data); -->
                            // < !--location.reload(); -->
                                // < !-- } -->
</script>

<body hx-get="{{url}}" hx-trigger="load" hx-target="#content" hx-swap="innerHTML" class="text-center">


    <h1>{{header}}</h1>
    <div> <input @keydown="event => event.code === 'Enter' && submit()" hx-post="{{url}}" hx-trigger="submit"
            class="input mt-10 mb-10 bg-gray-100 p-2 rounded border focus:ring-blue-500 focus:border-blue-500"
            type="text" hx-swap="innerHTML" /> </div>
    <div id="content">
    </div>
</body>



<script> function submit() {
        let url = window.location.href;
        fetch(url);
    }</script>


</html>
