<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <link rel="stylesheet" href="/static/style/global.css" />
    <!--     <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/normalize.min.css">
</head>
<!-- <div hx-ext="sse" sse-connect="/events" hx-trigger="sse:open"></div> -->
<div id="root"></div>
<script>
    <!---->
// < !--let root=document.getElementById("root"); -->
    // < !--let events=new EventSource("/events"); -->
        // < !--events.onmessage=(event)=> {
            // -->
            // < !-- // let data=document.createElement("p"); -->
                // < !-- // let time=new Date().toLocaleTimeString(); -->
                    // < !-- // data.innerText=time + ": " + event.data; -->
                        // < !-- // root.appendChild(data); -->
                            // < !--location.reload(); -->
                                // < !-- } -->
</script>

<body hx-get="api/page/pkgtable/1" hx-trigger="load" hx-target="#content" hx-swap="innerHTML">
    <div id="content">
    </div>
</body>


</html>
